<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p> <i> Hello <%= @leave.user.profile.nil? ? @leave.user.email.split("@").first : @leave.user.name %>, </i> </p>
<br>
<p>
Your leave has  been canceled by your <%= @user.roles %> <%= @user.profile.nil? ? @user.email : @user.name %>
</p>
<br>
<br>
Thanks and Regards,
<br>
<%= @user.organization.name.capitalize %> team
</body>
</html>
