<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p>
<i>
Hello Admin,
</i>
<br/>
<br/>
The following persons has birthday on <%= @date %> in your organisation, lets wish them and make something spetial!
the persons <%= @user.profile.nil? ? "email" : "name" %> as can be follows:
<ol>
<li>
<%= @user.profile.nil? ? @user.email : @user.name %>
<br/>
<br/>
Thanks and Regards,
<br/>
<%= @user.organization.name.capitalize %> team
</p>
</body>
</html>
