<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
<body>
<p><i>
Hello Admin,
</i>
</p>
</br>
</br>
<p>
<%= @user.roles %> <%= @user.profile.nil? ? @user.email : @user.name %> has canceled leave that was applied. 
</p>
</br>
Thanks and Regards,
</br>
<%= @user.organization.name %> team
</body>
</html>
