<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
<i>
Hello <%= @user.email %>
</i>
<br/>
<p>Welcome to Leave Management System(LMS).<br>
Thank you for showing interest in LMS. Your domain name is: <br><br>
<b>Domain name:</b>  <%= [@user.organization.slug, '.',JoshIntranet::Application.config.action_mailer.default_url_options[:host]].join %><br>
<b>Username: <%= @user.email %><br><br>
<b>Warm Regards<br>
LMS Team</b>
  
  </body> 
</html> 

