<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
<i>
Hello <%= @user.email %>
</i>
<br/>
<p>Welcome to Leave Management System.<br>
<br>
Thank you for choosing Niwant's Leave management system. Your domain name is:
<br>
<br>
  <%= [@user.organization.slug, '.',"niwantintranet.com"].join	 %><br>
<b>Username: <%= @user.email %><br><br>
<b>Warm Regards<br>
Leave management Team</b>
  
  </body> 
</html> 

