<!DOCTYPE html> 
<html>   
  <head>     
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />   
  </head>   
  <body>
<i>
Hello <%= @user.email.split("@").first %>
</i>
<br/>
<p>Welcome to Leave Management System!<br>
<br>
Thank you for showing interest in our Intranet System and we
can assure you that you have made a right choice by showing faith in us.<br>
Your domain name is:
<br>
<br>
  <%= [@user.organization.slug, '.',"niwantintranet.com"].join	 %><br>
<b>User name: <%= @user.email %><br><br>
<b>Warm Regards,<br>
The Leave Management Team</b>
  
  </body> 
</html> 

