/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 */



.alert {
  text-align:center;
}

.table thead th{
  border: 1px solid #DDDDDD !important;
  background-color: #555555;
  color: #FFFFFF
}
.table{
  border: 1px solid #DDDDDD !important;
}

.form{
  background-color: #FFFFFF;
  padding: 20px;
  float: center;
}

.footer{
  position: absolute;
  bottom: 0;
  height: 85px;
  clear:both;
  color:#fff;
  width: 100%;
  padding-top: 10px;
  .nav > li > a {
    display: inline;
    &.josh {
      background: #fff;
      height: 35px;
      display: inline-block;
      padding: 3px;
    }
  }
  .span4 {
    text-align: center;
  }
}

