<p>Hello <%= @resource.email %>!</p>

Greetings!
<br>
<p>Please use below the link to change password.</P>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, host: [@resource.organization.slug, '.',"niwantintranet.com"].join) %></p>

<% if @resource.organization.name != nil %>
<p>Thans and Regards,
<br>
@resource.organization.name Team.</p>
<% else %>
<p>Thanks and Regards,
<br>
Niwantintranet Team.</p>
<% end %>
