<p>Hello <%= @resource.email.split("@").first %></p>

Greetings!
<br>
<p>Please click on the link below to change password.</P>

<p><%= link_to 'Change password link.', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token, host: [@resource.organization.slug, '.',"niwantintranet.com"].join) %></p>

<% if @resource.organization.name != nil %>
<p>Thanks and Regards,
<br>
@resource.organization.name Team.</p>
<% else %>
<p>Thanks and Regards,
<br>
Niwantintranet Team.</p>
<% end %>
