%p &copy; Company 2012

.row-fluid
  .span4
    %ul.nav
      %li
        %p Developed by
      %li
        %a{:href => "http://techvision.net.in"}
          %img{:src =>'/assets/techvision4.jpg', :alt => 'TechVision', :width => "125px"}
  


